Options -MultiViews -Indexes
RewriteEngine On

# Serve existing files and directories directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Custom error pages
ErrorDocument 404 /404.html
ErrorDocument 500 /404.html
